@charset "UTF-8";
/* Seção Aviso */
#aviso {
  padding: 80px 0 100px; }
  @media (max-width: 768px) {
    #aviso {
      padding: 10px 0 40px; } }
  #aviso p {
    margin: 0 auto;
    font-family: 'Gotham';
    font-size: 12px;
    color: #556066;
    font-weight: 400;
    line-height: 2.4;
    text-align: justify; }
    #aviso p a {
      color: #416ea7; }
    @media (max-width: 992px) {
      #aviso p {
        width: 95%; } }
  #aviso img {
    display: block;
    margin: 45px 0 0; }

/*# sourceMappingURL=aviso.css.map */
