/* Banner */
#banner {
  background: url("../img/banner.jpg") no-repeat center;
  background-size: cover;
  padding: 7.5% 0 5.5%;
  min-height: 438px;
  position: relative; }
  #banner .title1 {
    font-family: 'Gotham';
    font-size: 32px;
    color: white;
    text-align: center;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(5, 5, 8, 0.35);
    letter-spacing: .07em;
    word-spacing: .1em; }
    @media (max-width: 576px) {
      #banner .title1 {
        margin-bottom: 1rem !important;
        font-size: 20px; } }
  #banner .box {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    padding: 0 0 0 40px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 35px 0px #2c2c2c;
    -moz-box-shadow: 0px 10px 35px 0px #2c2c2c;
    box-shadow: 0px 10px 35px 0px #2c2c2c; }
    @media (max-width: 576px) {
      #banner .box {
        padding: 0 40px; } }
    #banner .box h2 {
      padding: 25px 0 20px;
      margin-bottom: 0;
      font-family: 'Gotham';
      font-size: 26px;
      color: #4f5b60;
      font-weight: 500;
      text-align: center; }
      @media (max-width: 1024px) {
        #banner .box h2 {
          font-size: 22px; } }
      @media (max-width: 576px) {
        #banner .box h2 {
          font-size: 18px; } }
      @media (max-width: 420px) {
        #banner .box h2 {
          font-size: 17px; } }
    #banner .box .dados {
      float: left;
      width: 100%;
      margin-bottom: 0; }
      #banner .box .dados li {
        float: left;
        width: 50%; }
        #banner .box .dados li:last-child {
          text-align: right; }
        #banner .box .dados li .label {
          font-family: 'Gotham';
          font-size: 22px;
          color: #4f5b60;
          font-weight: 400; }
          @media (max-width: 420px) {
            #banner .box .dados li .label {
              font-size: 18px; } }
        #banner .box .dados li #total-valor,
        #banner .box .dados li #total-parcelas {
          display: block;
          font-family: 'Gotham';
          font-size: 20px;
          color: #4f5b60;
          font-weight: 400;
          line-height: 40px; }
          @media (max-width: 420px) {
            #banner .box .dados li #total-valor,
            #banner .box .dados li #total-parcelas {
              font-size: 16px; } }
    #banner .box button {
      background-color: #309d87;
      display: block;
      padding: 8px 15px;
      margin: 40px auto 20px;
      font-family: 'Gotham';
      font-size: 22px;
      color: white;
      font-weight: 400;
      cursor: pointer;
      outline: none; }
      @media (max-width: 420px) {
        #banner .box button {
          font-size: 20px; } }
    #banner .box .taxa {
      display: block;
      font-family: 'Gotham';
      font-size: 17px;
      color: #4d595c;
      font-weight: 400;
      text-align: center; }
      @media (max-width: 420px) {
        #banner .box .taxa {
          font-size: 14px; } }
      @media (max-width: 768px) {
        #banner .box .taxa {
          margin-bottom: 30px; } }

/*# sourceMappingURL=banner.css.map */
