#diferencas {
  background-color: #eaecec;
  padding: 50px 0 0; }
  #diferencas h3 {
    margin: 0 auto 65px;
    text-align: center; }
    @media (max-width: 992px) {
      #diferencas h3 {
        width: 100%; } }
    #diferencas h3 + p {
      margin: 0 auto;
      font-family: 'Gotham';
      font-size: 16px;
      color: #556066;
      font-weight: 300;
      line-height: 1.5;
      text-align: justify; }
      @media (max-width: 992px) {
        #diferencas h3 + p {
          width: 100%; } }
  #diferencas .item {
    text-align: center;
    margin-bottom: 65px; }
    #diferencas .item img {
      margin-bottom: 15px; }
    #diferencas .item p {
      margin: 0 auto;
      font-family: 'Gotham';
      font-size: 16px;
      color: #556066;
      font-weight: 300;
      line-height: 1.5;
      text-align: justify; }
      @media (max-width: 992px) {
        #diferencas .item p {
          width: 95%; } }
      #diferencas .item p strong {
        display: block;
        margin-bottom: 10px;
        font-size: 19px;
        font-weight: 500;
        text-align: center; }

/*# sourceMappingURL=diferencas.css.map */
