#entenda {
  padding: 40px 0; }
  #entenda h3 {
    margin-bottom: 35px; }
  #entenda h4 {
    margin-bottom: 65px; }
  #entenda p {
    margin: 0 auto;
    font-family: 'Gotham';
    font-size: 16px;
    color: #556066;
    font-weight: 300;
    line-height: 1.7;
    text-align: justify; }
    @media (max-width: 992px) {
      #entenda p {
        width: 100%; } }

/*# sourceMappingURL=entenda.css.map */
