@charset "UTF-8";
/* Seção ícones */
#icons {
  padding: 40px 0; }
  #icons h4 {
    margin: 20px auto 10px;
    font-family: 'Gotham';
    font-size: 15px;
    color: #556066;
    text-align: center;
    font-weight: 700;
    font-style: normal; }
  #icons p {
    margin: 0 20px;
    font-family: 'Gotham';
    font-size: 15px;
    color: #556066;
    font-weight: 300;
    line-height: 1.8;
    text-align: center; }
    @media (max-width: 992px) {
      #icons p {
        margin-bottom: 70px; } }
  #icons img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

/*# sourceMappingURL=icons.css.map */
