#mitos {
  padding: 45px 0; }
  #mitos h3 {
    margin: 0 auto 40px; }
  #mitos p {
    margin: 0 auto 65px;
    font-family: 'Gotham';
    font-size: 16px;
    color: #556066;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify; }
  #mitos dl {
    margin: 0 auto 50px;
    font-family: 'Gotham';
    color: #556066;
    line-height: 1.5; }
    @media (max-width: 992px) {
      #mitos dl {
        width: 95%; } }
    #mitos dl dt {
      padding-bottom: 20px;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px; }
      #mitos dl dt span {
        opacity: .78;
        position: relative;
        top: -3px; }
      #mitos dl dt i {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
        font-size: 1.6em; }
        #mitos dl dt i.green {
          color: #2a8e3d; }
        #mitos dl dt i.red {
          color: #f34a38; }
        #mitos dl dt i.yellow {
          color: #e6d547; }
    #mitos dl dd {
      font-size: 16px;
      font-weight: 300;
      text-align: justify; }
  #mitos .btn-default {
    margin-top: 20px; }

/*# sourceMappingURL=mitos.css.map */
