@charset "UTF-8";
/* Seção Parceiros */
#parceiros {
  padding: 40px 0 0; }
  @media (max-width: 768px) {
    #parceiros {
      padding: 40px 0 0; } }
  #parceiros h3 {
    margin-bottom: 60px; }

@media (max-width: 768px) {
  #parceiros .text-center {
    text-align: center;
    margin-bottom: 70px; } }

/*# sourceMappingURL=parceiros.css.map */
