@charset "UTF-8";
#pros-contras {
  background-color: #eaecec;
  padding: 55px 0; }
  #pros-contras h3 {
    margin-bottom: 50px; }
  @media (max-width: 768px) {
    #pros-contras .item {
      margin-bottom: 45px; } }
  #pros-contras .item img {
    margin-right: 2rem;
    margin-bottom: 30px; }
  #pros-contras .item p {
    width: 80%;
    font-family: 'Gotham';
    font-size: 20px;
    color: #556066;
    font-weight: 700; }
    #pros-contras .item p strong {
      opacity: .75; }
  #pros-contras .item ul {
    margin: 0 auto; }
    @media (max-width: 992px) {
      #pros-contras .item ul {
        width: 95%; } }
    #pros-contras .item ul li {
      font-family: 'Gotham';
      font-size: 14px;
      color: #556066;
      font-weight: 300;
      text-align: left;
      line-height: 2em; }
      #pros-contras .item ul li:before {
        content: '●';
        margin-right: 9px;
        color: #e5a558; }

/*# sourceMappingURL=pros-contras.css.map */
