#simulacao {
  background-color: #eaecec;
  padding: 55px 0; }
  #simulacao h3 {
    margin-bottom: 45px; }
  #simulacao p {
    margin: 0 auto 35px;
    font-family: 'Gotham';
    font-size: 16px;
    color: #556066;
    font-weight: 300;
    line-height: 1.8;
    text-align: justify; }
    @media (max-width: 992px) {
      #simulacao p {
        width: 95%; } }
  #simulacao .btn-simular {
    background-color: #f9b25f;
    display: block;
    padding: 9px 19px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gotham';
    font-size: 21px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; }

/*# sourceMappingURL=simulacao.css.map */
