/* Banner */
#banner{
    background: url("../img/banner.jpg")  no-repeat center;
    background-size: cover;
    padding: 7.5% 0 5.5%;
    min-height: 438px;
    position: relative;

    .title1 {
        font-family: 'Gotham';
        font-size: 32px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-weight: 500;
        text-shadow: 0px 3px 4px rgba(5, 5, 8, 0.35);
        letter-spacing: .07em;
        word-spacing: .1em;

        @media (max-width: 576px) {
            margin-bottom: 1rem!important;
            font-size: 20px;
        }
    }

    .box {
        background-color: rgba(255,255,255,0.85);
        width: 100%;
        padding: 0 0 0 40px;
        margin: 0 auto;
        -webkit-box-shadow: 0px 10px 35px 0px rgba(44,44,44,1);
        -moz-box-shadow: 0px 10px 35px 0px rgba(44,44,44,1);
        box-shadow: 0px 10px 35px 0px rgba(44,44,44,1);

        @media (max-width: 576px) {
            padding: 0 40px;
        }

        h2 {
            padding: 25px 0 20px;
            margin-bottom: 0;
            font-family: 'Gotham';
            font-size: 26px;
            color: #4f5b60;
            font-weight: 500;
            text-align: center;

            
            @media (max-width: 1024px) {
                font-size: 22px;
            }

            @media (max-width: 576px) {
                font-size: 18px;
            }
            
            @media (max-width: 420px) {
                font-size: 17px;
            }
        }
        .dados {
            float: left;
            width: 100%;
            margin-bottom: 0;

            li {
                float: left;
                width: 50%;
                
                &:last-child {
                    text-align: right;
                }

                .label {
                    font-family: 'Gotham';
                    font-size: 22px;
                    color: #4f5b60;
                    font-weight: 400;

                    @media (max-width: 420px) {
                        font-size: 18px;
                    }
                }

                #total-valor,
                #total-parcelas {
                    display: block;
                    font-family: 'Gotham';
                    font-size: 20px;
                    color: #4f5b60;
                    font-weight: 400;
                    line-height: 40px;

                    @media (max-width: 420px) {
                        font-size: 16px;
                    }
                }
            }
        }

        button {
            background-color:rgb(48, 157, 135);
            display: block;
            padding: 8px 15px;
            margin: 40px auto 20px;
            font-family: 'Gotham';
            font-size: 22px;
            color: rgb(255, 255, 255);
            font-weight: 400;
            cursor: pointer;
            outline: none;

            @media (max-width: 420px) {
                font-size: 20px;
            }
        }
        .taxa {
            display: block;
            font-family: 'Gotham';
            font-size: 17px;
            color: #4d595c;
            font-weight: 400;
            text-align: center;

            @media (max-width: 420px) {
                font-size: 14px;
            }

            @media (max-width: 768px) {
                margin-bottom: 30px;
            }
        }
    }
}
