/* Seção Carrossel */
#carrossel {
    background-color: #eaecec;
    padding: 35px 0;
    overflow: hidden;
    
    h2 {
        margin-bottom: 80px;
        font-family: 'Gotham';
        font-size: 30px;
        color: #556066;
        text-align: center;
    }

    .cycle-slideshow {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;

        img {
            max-width: 90%;
            left: 50%!important;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);

        }
    }

    .cycle-pager {
        padding: 25px 0 0;
        text-align: center;

        span {
            margin: 0 3px;
            color: #b3b3b3;
            font-size: 1.5em;
            cursor: pointer;

            &.cycle-pager-active {
                color: #556066;
            }
        }
    }

    .btn-default {
        margin: 150px auto 160px;
    }
}