#contratar {
    padding: 50px 0;

    h3 {
        margin-bottom: 50px;
    }

    h4 {
        margin-bottom: 85px;
        font-size: 20px;
        font-style: initial;
        text-align: center;
        font-weight: 500;
    }

    p {
        margin: 0 auto 65px;
        font-family: 'Gotham';
        font-size: 16px;
        color: #556066;
        font-weight: 300;
        line-height: 1.8;
        text-align: justify;

        @media (max-width: 992px) {
            width: 95%;
        }
    }
    img {
        display: block;
        margin: 0 auto 35px;
        max-width: 95%;
    }

}