#cuidados {
    background-color: #eaecec;
    padding: 50px 0;

    h3 {
        margin-bottom: 70px;
    }

    .item {

        img {
            margin-bottom: 35px;
        }

        h4 {
            width: 90%;
            margin: 0 auto 25px;
            font-size: 20px;
            font-weight: 700;
            font-style: initial;
            line-height: 1.5;

            @media (max-width: 992px) {
                width: 95%;
            }
        }

        p {
            font-family: 'Gotham';
            font-size: 16px;
            color: #556066;
            font-weight: 300;
            line-height: 1.8;
            text-align: justify;
        }
    }
}