#diferencas {
    background-color: #eaecec;
    padding: 50px 0 0;

    h3 {

        margin: 0 auto 65px;
        text-align: center;

        @media (max-width: 992px) {
            width: 100%;
        }

        + p {
            margin: 0 auto;
            font-family: 'Gotham';
            font-size: 16px;
            color: #556066;
            font-weight: 300;
            line-height: 1.5;
            text-align: justify;

            @media (max-width: 992px) {
                width: 100%;
            }
        }
    }

    .item {
        text-align: center;
        margin-bottom: 65px;
        
        img {
            margin-bottom: 15px;
        }

        p {
            margin: 0 auto;
            font-family: 'Gotham';
            font-size: 16px;
            color: #556066;
            font-weight: 300;
            line-height: 1.5;
            text-align: justify;

            @media (max-width: 992px) {
                width: 95%;
            }

            strong {
                display: block;
                margin-bottom: 10px;
                font-size: 19px;
                font-weight: 500;
                text-align: center;
            }
        }
    }

    
}