#documentacao {
    background: url(../img/backgroud-predios.png) no-repeat bottom center;
    background-size: 100%;
    padding: 50px 0 70px;

    h3 {
        margin-bottom: 65px;
    }

    h4 {
        margin-bottom: 55px;
        font-size: 30px;
        color: #556066;
        font-weight: 700;
        font-style: initial;

        @media (max-width: 420px) { 
            font-size: 24px;
        }
    }

    p {
        margin: 0 auto 30px;
        font-family: 'Gotham';
        font-size: 16px;
        color: #556066;
        font-weight: 300;
        line-height: 1.8;
        text-align: justify;

        @media (max-width: 992px) {
            width: 80%;
        }

        @media (max-width: 420px) {
            width: 95%;
        }
    }

    ul {
        margin: 0 auto 90px;

        @media (max-width: 992px) {
            width: 80%;
        }

        @media (max-width: 420px) {
            width: 95%;
        }

        li {
            margin-bottom: 22px;

            i {
                margin-right: 12px;
                font-size: 2em;
                color: #556066;

                @media (max-width: 420px) {
                    font-size: 1.5em;
                }
            }
            span {
                font-family: 'Gotham';
                font-size: 18px;
                color: #556066;
                font-weight: 400;
                line-height: 2;
                position: relative;
                top: -4px;

                @media (max-width: 420px) {
                    font-size: 16px;
                }
            }
        }
    }

    .prazo {
        img {
            float: left;
            margin-right: 50px;

            @media (max-width: 576px) {
                float: none;
                display: block;
                margin: 0 auto 15px;
            }
        }
        p {
            width: 100%;
            margin-bottom: 0;
            transform: translateY(50%);
            -webkit-transform: translateY(50%);
            -moz-transform: translateY(50%);
            -ms-transform: translateY(50%);
            -o-transform: translateY(50%);

            @media (max-width: 768px) {
                transform: translateY(25%);
                -webkit-transform: translateY(25%);
                -moz-transform: translateY(25%);
                -ms-transform: translateY(25%);
                -o-transform: translateY(25%);
            }

            @media (max-width: 576px) {
                display: block;
                clear: both;
            }
        }
    }
}