#entenda {
    padding: 40px 0;
    
    h3 {
        margin-bottom: 35px;
    }

    h4 {
        margin-bottom: 65px;
    }

    p {
        //width: 75%;
        margin: 0 auto;
        font-family: 'Gotham';
        font-size: 16px;
        color: #556066;
        font-weight: 300;
        line-height: 1.7;
        text-align: justify;

        @media (max-width: 992px) {
            width: 100%;
        }
    }
}