@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

a,
a img,
fieldset {
    text-decoration: none;
    border: none;
}    
a {
    -webkit-transition: all .25s ease-in-out 0s;
    -moz-transition: all .25s ease-in-out 0s;
    transition: all .25s ease-in-out 0s;
}
a:hover {
    text-decoration: underline;
}
ul, 
li, 
ol {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
}

@font-face {
    font-family: 'Gotham';
    src: url(../webfonts/Gotham-Bold.otf) format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham';
    src: url(../webfonts/Gotham-Light.otf) format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gotham';
    src: url(../webfonts/Gotham-Medium.otf) format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Gotham';
    src: url(../webfonts/Gotham-Book.otf) format('opentype');
    font-weight: 400;
}

/* Estilos Gerais */
button.btn-default {
    background-color:rgb(48, 157, 135);
    display: block;
    padding: 11px 57px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gotham';
    font-size: 21px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

h3 {
    font-family: 'Gotham';
    font-size: 30px;
    color: #556066;
    font-weight: 700;
    text-align: center;

    @media (max-width: 420px) {
        font-size: 26px;
    }
}

h4 {
    font-family: 'Gotham';
    font-size: 22px;
    color: #556066;
    font-weight: 400;
    font-style: italic;
    text-align: center;

    @media (max-width: 420px) {
        font-size: 20px;
    }
}