/* Seção ícones */
#icons {
    padding: 40px 0;

    h4 {
        margin: 20px auto 10px;
        font-family: 'Gotham';
        font-size: 15px;
        color: #556066;  
        text-align: center;
        font-weight: 700;
        font-style: normal;
    }

    p {
        margin: 0 20px;
        font-family: 'Gotham';
        font-size: 15px;
        color: rgb(85, 96, 102);
        font-weight: 300;
        line-height: 1.8;
        text-align: center;

        @media (max-width: 992px) {
            margin-bottom: 70px;
        }
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}
