#mitos {
    padding: 45px 0;

    h3 {
        margin: 0 auto 40px;
    }

    p {
        margin: 0 auto 65px;
        font-family: 'Gotham';
        font-size: 16px;
        color: #556066;
        font-weight: 300;
        line-height: 1.5;
        text-align: justify;
    }

    dl {
        margin: 0 auto 50px;
        font-family: 'Gotham';
        color: #556066;
        line-height: 1.5;

        @media (max-width: 992px) {
            width: 95%;
        }

        dt {
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;

            span {
                opacity: .78;
                position: relative;
                top: -3px;
            }

            i {
                float: left;
                margin-right: 15px;
                margin-bottom: 15px;
                font-size: 1.6em;

                &.green {
                    color: #2a8e3d;
                }
    
                &.red {
                    color: #f34a38;
                }
                &.yellow {
                    color: #e6d547;
                }
            }
            
        }

        dd {
            font-size: 16px;
            font-weight: 300;
            text-align: justify;
        }
    }

    .btn-default {
        margin-top: 20px;
    }
}