/* Seção Parceiros */
#parceiros {
    padding: 40px 0 0;

    @media (max-width: 768px) {
        padding: 40px 0 0;
    }

    h3 {
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    #parceiros .text-center  {
        text-align: center;
        margin-bottom: 70px;
    }
}