#pros-contras {
    background-color: #eaecec;
    padding: 55px 0;

    h3 {
        margin-bottom: 50px;
    }

    .item {

        @media (max-width: 768px) {
            margin-bottom: 45px;
        }

        img {
            margin-right: 2rem;
            margin-bottom: 30px;
        }

        p {
            width: 80%;
            font-family: 'Gotham';
            font-size: 20px;
            color: #556066;
            font-weight: 700;

            strong {
                opacity: .75;
            }
        }

        ul {
            margin: 0 auto;

            @media (max-width: 992px) {
                width: 95%;
            }

            li {
                font-family: 'Gotham';
                font-size: 14px;
                color: #556066;
                font-weight: 300;
                text-align: left;
                line-height: 2em;

                &:before {
                    content: '●';
                    margin-right: 9px;
                    color: #e5a558;
                }
            }
        }
    }
}